#navbar{
    border: 1px solid blue;
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    width: 19%;
    float: left;
}

#nav-header{
	border: 1px solid black;
}

#nav-link-div{
	border: 1px solid red;
}

.inside-link-div{
	border: 1px solid blue;
}

.main-section{
    /* border:1px solid black ; */
    width: 80%;
    float: right;
}

h2{
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: normal;
}

.haeder-section{
    padding-left: 30px;
}

p{
    font-family:sans-serif;
}

li{
    font-family:sans-serif;
    padding-top: 15px;
}

.div-p{
    padding-left: 40px;
}

/* #sec1Head{
	border: 1px solid black;
}

.intro-P{
	border: 1px solid red;
}

#intro-ul{
	border: 1px solid blue;
}

.intro-li{
	border: 1px solid red;
}

#sec2Head{
	border: 1px solid blue;
}

.already-p{
	border: 1px solid black;
}

#already-ul{
	border: 1px solid red;
}

.already-li{
	border: 1px solid blue;
}

#sec3Head{
	border: 1px solid blue;
}

.js-java-p{
	border: 1px solid red;
}

#sec4Head{
    border:1px solid red ;
}
.Hello-p{
    border: 1px solid black;
} */
.Hello-C-div{
    border: 1px solid rgba(209, 202, 202, 0.986);
    background-color: rgba(209, 202, 202, 0.986);
    padding: 15px;}

/* #sec5Head{
    border:1px solid red ;
}
.variables-p{
    border: 1px solid black;
}

#sec6Head{
    border:1px solid red ;
}
.declaring-p{
    border: 1px solid black;
} */
.declaring-c-div{
    border: 1px solid rgba(209, 202, 202, 0.986);
    background-color: rgba(209, 202, 202, 0.986);
    padding: 15px;}

/* #sec7Head{
    border:1px solid red ;
}
.scope-p{
    border: 1px solid black;
} */
.scope-c-div{
    border: 1px solid rgba(209, 202, 202, 0.986);
    background-color: rgba(209, 202, 202, 0.986);
    padding: 15px;}
